
html {
  scroll-behavior: smooth;
}
header,main,footer{
    margin: -5px ;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}


header{
    background-image: url(../Imagens/Rectangle\ 1.png);
    background-size: 120% 110% ;
    background-position-x: -80px;
    min-height: 150px;
    position: relative;
    padding-right: 0%;
    display: flex;
    justify-content: flex-end;
    font-family: cursive;
    font-size: 110%;
}
h2{
    font-family: cursive;
    font-size: 175%;
}
#topicos{
    width: 100%;
    height: 25%;
    display:  flex;
    justify-content: space-around;
    bottom: 0%;
    position: absolute;
}
.topico{
    flex-shrink: 1;
    width: 25%;
    background-color: #488B4C;
    text-align: center;
    display: grid;
    align-items: center;
}
.topico:hover{
    background-color: #2a532d;
    transform: scale(1.05);
    transition-duration: 0.4s;
}
a{
    text-decoration: none;
    color: #E9E9E9;
}
#btn {
    flex-shrink: 1;
    position: absolute;
    text-align: center;
    display: grid;
    align-items: center;
    background-color: #263B4E;
    height: 50%;
    margin-right: 1.5%;
    border-radius: 10px;
    padding: 0.7% 1.5% ;
}
#btn:hover {
    background-color: #527ca3;
    transform: scale(1.05);
    transition-duration: 0.4s;
}



main{
    background-image: url(../Imagens/ODS3-1\ 1.png);
    background-size: 100%;
    background-attachment: fixed;
    padding: 3% 7% 3% 5%;

}
.link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #252525;
    margin-left: 5%;
}

footer{
    background-color: #252F23;
    display: flex;
    justify-content: space-around;
    color: #909090;
}

.info{
    flex-grow: 2;
    display: flex;
    width: 300%;
    margin-left: 5%;
}

#ref{
    margin-left: 10%;
    margin-bottom: 1%;
}
.ref{
    color: #909090;
    font-size: 75%;
}

img{
    width: 50%;
    min-width: 120px;
    height: auto;
    flex-grow: 2;

}


/* ------------------------------------------------------------------------------------------------------ */



.dados, .area, .sugestoes{
    background-color: #8acf8f; /* Cor de fundo verde */
    border-radius: 20px; /* Borda arredondada */ 
    opacity: 0.9; 
}
  
.field-box {
    padding: 5px; /* Espaçamento interno para os elementos */
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1% 20% 1% 10%;
}
  .green-box {
    background-color: #ffffff; /* Cor de fundo verde */
    padding: 1px; /* Espaçamento interno para os elementos */
    border-radius: 20px 20px 0px 0px; /* Borda arredondada */ 
    padding-left: 5%;
  }

.dados label{
    padding-left: 5%;
  }

.sugestoes .field-box{
    padding: 1% 10% 1% 10%;
}

.field-box label, .field-box input {
    margin-bottom: 20px; /* Reduzir o espaçamento entre os rótulos (labels) e os campos de entrada (inputs) */
}

/* Estilo para os campos de entrada de dados */
.field-box input[type="text"],
.field-box input[type="number"],
.field-box input[type="tel"],
.field-box input[type="email"] {
    background-color: #ebe9e9; /* Cor de fundo verde */
    border-radius: 20px; /* Borda arredondada */
    width: 120%; /* Preencher a largura disponível */
    margin: 10px 40px 10px 0px; /* Espaço entre os campos */
    padding: 8px;
    border: none;
    cursor: text; 
}

/* Estilo para checkboxes */
.field-box input[type="checkbox"], .area label {
    width: 20px; /* Aumenta a largura dos checkboxes */
    height: 20px; /* Aumenta a altura dos checkboxes */
    vertical-align: super;
}


/* Estilo para o botão "Enviar" */
button {
    background-color: #488B4C;
    color: #E9E9E9;
    margin-top: 2%;
    border-radius: 20px;
    cursor: pointer;
    font-family: cursive; 
    font-size: 110%;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #2a532d;
    transform: scale(1.05);
    transition-duration: 0.4s;
}

.button_container{
    display: flex;
    justify-content: flex-end;
}
#sugestoes textarea {
   resize: none;
}


